.elvwp_new_error_form_style {
	margin-top: 20px;
}
.elvwp_new_error_form_style .new_lbl_selected {
	margin-right: 10px;
}
.elvwp_new_error_form_style .view {
	margin-top: 20px;
}
.elvwp_new_error_form_style .txt {
	margin-top: 20px;
	margin-left: 10px;
}
.elvwp_new_error_form_style .code {
	margin-top: 20px;
}
.elvwp_new_error_form_style .fatal_error_body {
	background-color: #EFEEED;
	color: #ec3b3b;
	font-size: 14px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 4px
}
.elvwp_new_error_form_style .normal_error, .elvwp_log_area .normal_error {
	background-color: #EFEEED;
	color: #000;
	font-size: 14px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 4px
}
.elvwp_divform2 {
	margin-top: 22px;
}
.divfatalerror label {
	font-style: oblique;
	font-size: 20px;
	color: red;
	margin: 2px;
	margin-left: 20%;
	letter-spacing: 1px;
}
.elvwp_divform2 .viewfile {
	margin-top: 12px;
	padding: 5px;
}
.elvwp_divform2 .clearallfile {
	margin-top: 12px;
	padding: 5px;
	float: right;
	margin-right: 15px;
}
.elvwp_divform2 .textlog {
	margin-top: 12px;
}
.elvwp_divform2 .clearFile {
	margin-top: 12px;
}
.elvwp_divform2 .errormessage {
	color: red;
	font-size: 20px;
	width: 150px;
	margin-left: 20%;
}
#elvwp_err_container .left {
	float: left;
	width: 40%
}
#elvwp_err_container .right {
	float: left;
	width: 60%
}
.elvwp_log_selection, .elvwp_log_stats {
	width: 100%
}
.elvwp_log_selection th, .elvwp_log_stats th {
	text-align: left;
}
.elvwp_clear_all_logs, .elvwp_log_stats td, .elvwp_download_wp_log_file {
	text-align: right;
}
.elvwp_log_area {
	background-color: #fff;
	padding: 10px;
}
#elvwp_clear_this_log, #elvwp_clear_all_logs {
	color: #fff;
	background-color: #ec3b3b;
	border-color: #ec3b3b
}
#elvwp_download_wp_log_file {
	color: #fff;
	background-color: #228622;
	border-color: #228622
}
.elvwp_error_log_filter {
	background-color: #fff;
	padding: 10px;
}
/*New Style*/

#elvwp_error_list article {
	width: 100%;
	display: block;
	margin: 0 0 1em 0;
	background-color: #fcfcfc;
}
#elvwp_error_list article>div {
	border: 1px solid #BDBDBD;
	border-left-width: 10px;
	padding: 1em;
}
#elvwp_error_list article>div>b {
	font-weight: bold;
}
#elvwp_error_list article>div>i {
	font-weight: normal;
	font-style: normal;
}
#elvwp_error_list article blockquote {
	display: none;
	background-color: #ededed;
	border: 1px solid #ababab;
	padding: 1em;
	overflow: auto;
	margin: 0;
}
#elvwp_err_container {
	padding: 2em 2em 0 0;
}
#elvwp_type_filter, #elvwp_path_filter, #elvwp_sort_options {
	border: 0;
	margin: 0;
	padding: 0;
}
#elvwp_type_filter>p {
	line-height: 2.2em;
}
#elvwp_path_filter input {
	width: 30em;
}
.elvwp-lbl-filter {
	width: 150px;
	display: inline-block;
}
#elvwp_sort_options p {
	margin-top: 0;
}
#elvwp_type_filter .elvwp_type_lbl {
	border-bottom: 4px solid #bdbdbd;
	margin-right: 10px;
	padding-bottom: 5px;
}
.hide {
	display: none !important;
}
.alternate {
	background-color: #f8f8f8;
}
.deprecated {
	border-color: #acacac !important;
}
.warning {
	border-color: #f4c20d !important;
}
.fatalerror {
	border-color: #db3236 !important;
}
.elvwp_strict_standards {
	border-color: #534741 !important;
}
.catchablefatalerror {
	border-color: #f68e56 !important;
}
.parseerror {
	border-color: #aa66cc !important;
}
.elvwp_er_type {
	font-size: 14px;
	display: inline-block;
	width: 8%;
	vertical-align: top;
}
.elvwp_er_path {
	display: inline-block;
	width: 70%;
}
.elvwp_er_time {
	display: inline-block;
	width: 21%;
	vertical-align: top;
}
.fatalerror .elvwp_er_type, .fatalerror .elvwp-type-color {
	color: #db3236 !important;
}
.warning .elvwp_er_type, .warning .elvwp-type-color {
	color: #f4c20d !important;
}
.notice .elvwp_er_type, .notice .elvwp-type-color {
	color: #4885ed !important;
}
.parseerror .elvwp_er_type, .parseerror .elvwp-type-color {
	color: #aa66cc !important;
}
.elvwp_logoverview_static {
	width: 20%;
	display: inline-block;
	margin: 2px;
	border-radius: 3px;
	color: #fff;
	padding: 0px;
	background-color: #BDBDBD !important;
}
.elvwp_logoverview_static.alternate {
	color: #fff;
	background-color: #f8f8f8;
}
.elvwp_logoverview_static.deprecated {
	color: #fff;
	background-color: #acacac !important;
}
.elvwp_logoverview_static.notice {
	color: #fff;
	background-color: #4885ed !important;
}
.elvwp_logoverview_static.warning {
	color: #fff;
	background-color: #f4c20d !important;
}
.elvwp_logoverview_static.fatalerror {
	color: #fff;
	background-color: #db3236 !important;
}
.elvwp_logoverview_static.elvwp_strict_standards {
	color: #fff;
	background-color: #534741 !important;
}
.elvwp_logoverview_static.catchablefatalerror {
	color: #fff;
	background-color: #f68e56 !important;
}
.elvwp_logoverview_static.parseerror {
	color: #fff;
	background-color: #aa66cc !important;
}
.elvwp_logoverview_static.recoverablefatalerror {
	color: #fff;
	background-color: #a101f1 !important;
}
.elvwp_logoverview_static.wordpressdatabaseerror {
	color: #fff;
	padding: 0px;
	background-color: #BDBDBD !important;
}
.elvwp_logoverview_static div {
	padding: 9px 9px
}
#elvwp_skip_to_top {
	float: right;
}
#elvwp_file_size {
	margin: 49px;
}
.elvwp_error_log_buttons {
	width: 33.33%;
	float: left;
}
.elvwp-log-path-holder, .elvwp_log_data_wrap {
	display: inline-block;
	width: 64%;
}
.elvwp_er_type .dashicons-before {
	margin-right: 2px;
}
.fatalerror i.dashicons-before::before {
	transform: rotate(180deg);
}
.elvwp_logoverview_static .dashicons-before {
	margin-right: 4px;
}
.elvwp_filter_heading{
	margin-top: 0px;
}
.elvwp_log_data_wrap {
	width: 35%;
	padding: 12px 5px;
}
.elvwp-log-path-main-holder {
	margin-top: 15px;
	border: 1px solid #bcbcbc;
	padding: 0px 15px;
	border-radius: 1px;
	display: flex;
}
.elvwp_log_data_wrap {
	text-align: center;
}
.elvwp_skip_bottom_wrap {
	text-align: right;
	float: right;
}
.elvwp_skip_bottom_wrap, .elvwp_log_data_wrap {
	line-height: 25px
}
#wp-admin-bar-elvwp_admin_bar .elvwp-admin-bar-error-count {
	margin: 1px 0 0 7px;
	padding: 0 5px;
	min-width: 7px;
	height: 17px;
	border-radius: 11px;
	background-color: #f73900;
	color: #fff;
	line-height: 17px;
	text-align: center;
	z-index: 26
}
#elvwp_error_log_download {
	background: green;
	border: green;
	color: white;
}
#elvwp_error_log_purge {
	background: #db3236;
	border: #db3236;
	color: white;
}
#elvwp_error_raw_log {
	background: #000;
	border: #000;
	color: #fff;
}
p#elvwp_error_nolog_entries {
	color: red;
	margin: 5px 1px;
}
table#elvwp_log_list_table {
	width: 100% !important;
}
.elvwp_log_table {
	margin: 2px 2px;
}
.elvwp_datatable_ajaxbutton {
	margin: 2px 5px;
	padding: 4px 2px;
}
.elvwp_datatable_ajaxbutton a, .elvwp_datatable_ajaxbutton button {
	border-radius: 3px
}
.elvwp_datatable_delete {
	color: #fff;
	background-color: red;
	border: none;
	/* color: white; */
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
	margin: 0px 5px;
}
button.elvwp_datatable_log_download {
	background-color: #2c97ff;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
}
#elvwp_datatable_view {
	background-color: #2c97ff;
	border: none;
	color: white;
	text-decoration: none;
	padding: 11px 16px;
	font-size: 17px;
	cursor: pointer;
}
/*i.dashicons.dashicons-text-page.view {
	margin: 11px 0px;
}*/

.elvwp_datatable_ajaxbutton {
	text-align: center;
}
table.dataTable thead th, table.dataTable thead td {
	padding: 10px 18px;
	text-align: left;
	border-bottom: 1px solid #111;
}
table.dataTable thead tr th.sorting:nth-child(3) {
	text-align: center;
}
td div.elvwp_datatable {
	width: 100%;
	display: inline-block;
	padding: 4px 7px;
	box-sizing: border-box;
	text-align: left;
	margin: 5px;
	font-weight: bold;
	border-radius: 3px;
}
td div.elvwp_datatable a {
	display: block;
	width: 100%;
	color: white;
}
table.dataTable thead tr {
	background-color: #d7d9d7;
}
div.elvwp_datatable.fatal.error {
	color: #fff;
	background: red;
	border: 1px solid red;
}
div.elvwp_datatable.warning {
	color: #fff;
	background: #f4c20d;
	border: 1px solid #f4c20d;
}
div.elvwp_datatable.notice {
	color: #fff;
	background: #4885ed;
	border: 1px solid red;
}
div.elvwp_datatable.error {
	color: #fff;
	background: #BDBDBD ;
	border: 1px solid #BDBDBD;
}
div.elvwp_datatable.wordpress.database.error {
	color: #fff;
	background: #496ef7;
	border: 1px solid #496ef7;
}
div.elvwp_datatable.recoverable.fatal.error {
	color: #fff;
	background: #a101f1;
	border: 1px solid #a101f1;
}
.elvwp_datatable.parse.error {
	color: #fff;
	background: #aa66cc!important;
	border: 1px solid #a101f1;
}
div.elvwp_datatable.notice a, div.elvwp_datatable.fatal.error a, div.elvwp_datatable.recoverable.fatal.error, .elvwp_datatable.parse.error a, div.elvwp_datatable.wordpress.database.error a, div.elvwp_datatable.warning a {
	text-decoration: none !important;
}
.wp-admin p label input[type=checkbox] {
	margin-top: -4px;
	/* color: black !important; */
	border-color: #7e8993 !important;
}
.elvwp_log_list_table .date {
	width: 10%
}
.elvwp_log_list_table .log_path, .elvwp_log_list_table .action {
	width: 20%
}
/*deactivation*/

.elvwp-hidden {
	overflow: hidden;
}
.elvwp-popup-overlay .elvwp-internal-message {
	margin: 3px 0 3px 22px;
	display: none;
}
.elvwp-reason-input {
	margin: 3px 0 3px 22px;
	display: none;
}
.elvwp-reason-input input[type="text"] {
	width: 100%;
	display: block;
}
.elvwp-popup-overlay {
	background: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.elvwp-popup-overlay.elvwp-active {
	opacity: 1;
	visibility: visible;
}
.elvwp-serveypanel {
	width: 600px;
	background: #fff;
	margin: 0 auto 0;
	border-radius: 3px;
}
.elvwp-popup-header {
	background: #f1f1f1;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}
.elvwp-popup-header h2 {
	margin: 0;
	text-transform: uppercase;
}
.elvwp-popup-body {
	padding: 10px 20px;
}
.elvwp-popup-footer {
	background: #f9f3f3;
	padding: 10px 20px;
	border-top: 1px solid #ccc;
}
.elvwp-popup-footer:after {
	content: "";
	display: table;
	clear: both;
}
.elvwp_action-btns {
	float: right;
}
.elvwp-anonymous {
	display: none;
}
.attention, .error-message {
	color: red;
	font-weight: 600;
	display: none;
}
.elvwp-spinner {
	display: none;
}
.elvwp-spinner img {
	margin-top: 3px;
}
.elvwp-pro-message {
	padding-left: 24px;
	color: red;
	font-weight: 600;
	display: none;
}
.elvwp-popup-header {
	background: none;
	padding: 18px 15px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	border: 0;
}
.elvwp-popup-body h3 {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 15px;
	color: #495157;
	line-height: 1.4;
	text-tranform: uppercase;
}
.elvwp-reason {
	font-size: 13px;
	color: #6d7882;
	margin-bottom: 15px;
}
.elvwp-reason input[type="radio"] {
	margin-right: 15px;
}
.elvwp-popup-body {
	padding: 30px 30px 0;
}
.elvwp-popup-footer {
	background: none;
	border: 0;
	padding: 29px 39px 39px;
}
#elvwp_error_list p {
	margin: 0 !important;
	word-break: break-word;
}
.elvwp_type_error {
	margin-bottom: 10px;
}
#elvwp_notification_emails{
	min-width: 400px;
	min-height: 150px;
}
#elvwp_notification_setting_container {
	padding: 1.5em 1em 0em 1em;
	background-color: #fff;
	margin: 1em 1em 0 0;
}
#elvwp_notification_setting_container h1{
	margin-top: 0px;
}
.elvwp_log_overview h1{
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
}
.elvwp_log_overview{
	background-color: #fff;
	padding: 1em 1em 1em 1em;
	margin: 1em 1em 0 0;
}
.button.button-delete-logs {
	background: #de1818;
	color: #fff;
	border-color: #de1818;
	margin-left: 20px;
	float: right;
}
.button.button-delete-logs:hover, .button.button-delete-logs:focus {
	background: #ed0e0e;
	color: #fff;
	box-shadow: 0 0 0 1px #ed0e0e;
	border-color: #ed0e0e;
}
.elvwp_notification_setting td label{
	font-style: italic;
}
